@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="textKaktus">Welcome</h1>
    <h2 class="textKaktus">
        This site will become a file sharing service in the future, it already operates using one of the most modern HTTP 3.0 protocol, and in the future it will use the Ton Blockchain to store files.
        To find out more, go to the <a style="color: #89945C" asp-action="Privacy">Privacy</a> tab
    </h2>
</div>
